<p class="mb-5">
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                <mat-icon>menu</mat-icon>
            </button>
            <span class="example-spacer"></span>
            <span *ngIf="_user !== null" class="connected-sentence">Connecté en tant que {{ _user.username }}</span>
            <a *ngIf="_user !== null" mat-button [routerLink]="['/logout']">Se deconnecter</a>
            <a *ngIf="_user === null" mat-button [routerLink]="['/login']">Se connecter</a>
            <a *ngIf="_user === null" mat-button [routerLink]="['/register']">S'enregistrer</a>
        </mat-toolbar-row>
    </mat-toolbar>
</p>
