<mat-card class="example-card">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>S'enregistrer</mat-card-title>
        <mat-card-subtitle>Bienvenue sur x.com !</mat-card-subtitle>
    </mat-card-header>
    <div class="w-100 d-flex justify-content-center">
        <img src="https://logopond.com/logos/9011913fb9ef7fe5a962ff078155a77d.png"
             alt="Photo of a Shiba Inu">
    </div>
    <mat-card-content>
        <mat-error *ngIf="this._errorAlreadyExist" class="mb-2">Email déja existant.
        </mat-error>
        <mat-error *ngIf="this._errorUnknow" class="mb-2">Une erreur est survenue, merci de réessayer ulterieurement
        </mat-error>

        <form [formGroup]="_registerForm" (ngSubmit)="onRegisterFormSubmit()">
            <div class="example-container mb-2">
                <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="pat@example.com" id="_email" formControlName="_email" width="100"
                           required>
                </mat-form-field>
                <div *ngIf="email">
                    <div *ngIf="email.errors">
                        <mat-error *ngIf="email.errors['email']" class="mb-5">Veuillez rentrer une adresse email valide.
                        </mat-error>
                    </div>
                </div>
            </div>
            <div class="example-container">
                <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Mot de passe</mat-label>
                    <input matInput id="_password" formControlName="_password" width="100"
                           type="password"
                           required>
                </mat-form-field>
                <div *ngIf="password">
                    <div *ngIf="password.errors">
                        <mat-error *ngIf="password.errors['minlength']" class="mb-5">Le mot de passe doit contenir
                            minimum 5
                            caractères.
                        </mat-error>
                    </div>
                </div>
            </div>
            <div class="example-container">
                <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Confirmation mot de passe</mat-label>
                    <input matInput id="_confirmPassword" formControlName="_confirmPassword" width="100"
                           type="password"
                           required>
                </mat-form-field>
                <div *ngIf="confirmPassword">
                    <div *ngIf="confirmPassword.errors">
                        <mat-error *ngIf="confirmPassword.errors['notSame']" class="mb-5">
                            La confirmation du mot de passe ne correspond pas
                        </mat-error>
                    </div>
                </div>
            </div>
            <div class="example-button-row d-flex justify-content-center mt-5">
                <button mat-raised-button color="primary" type="submit" [disabled]="!_registerForm.valid"
                        class="me-2 ms-2">S'enregistrer
                </button>
                <a mat-raised-button [routerLink]="['/login']" class="me-2 ms-2">Se connecter</a>
            </div>
        </form>
    </mat-card-content>
</mat-card>
