@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto&family=Roboto+Condensed:ital@1&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

div, p, h1, h2, h3, h4, h5, button, a, label, span {
    font-family: 'Poppins', sans-serif;
}

a {
    &:hover, &:focus {
        text-decoration: none !important;
        color: unset;
    }
}

.green-para {
    color: #2ecc71;
}
